:root {
    --main-bg-color: navy;
    --main-txt-color: white;  
    --main-padding: 15px;  
    --calendar-background: lightgray;
    --calendar-text:blue;
  }
  
                        
  
.parent {
    display: grid;
    grid-template-columns:1.10fr .90fr;
    grid-template-rows:repeat(auto, minmax(20px auto));
    grid-template-areas: "hdgArea      hdgArea"
                         "parent1Area  parent2Area";
    background-color:lightgray;                   
}
.hdg {
    grid-area: hdgArea; 
    height:40px;
    padding-top: 0px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    align-items:center;
    justify-content:center; 
    text-align: center;
    background-color:navy;
    color: var(--main-txt-color);
    border-bottom:white 3px;
}

/*
.hdg h1 {
    align-items:center;
}
*/

.parent1 {
    display: grid;
    grid-area: parent1Area;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:repeat(auto, minmax(50px auto)); 
    gap:.5em;
    grid-template-areas: "filterArea filterArea filterArea filterArea"
                         "calArea    calArea    calArea    calArea"
                         "calArea    calArea    calArea    calArea"
                         "calArea    calArea    calArea    calArea"
                         "logArea    logArea    logArea    logArea";
    padding-right: 10px;
    padding-left: 10px;
    border-left: white 2px;
}


.filterSection {
    grid-area:filterArea;
    height:75px;
    padding-top:20px;
    padding-bottom: 0px;
    margin:0px;
    justify-content:center;
    align-items:center; 
    text-align: center;
    width:100%;
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
}

#settingsIcon {
    margin-top:3px;
    margin-left: 30px;
    height: 30px;
    font-size:18px;
}
select {
    text-size-adjust:100 px;
    margin-right:20px;
    color:blue;
}

/* .calendarSection {
    grid-area:calArea;
    background-color:beige;
    color:blue;
} */
#calendar-container{
    grid-area:calArea;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /*grid-template-columns: repeat(3 1fr);
    grid-template-rows:repeat(4 1fr);
    grid-template-areas: "monthArea monthArea monthArea"
                         "monthArea monthArea monthArea"
                         "monthArea monthArea monthArea"
                         "monthArea monthArea monthArea"; */
                              
    background-color: var(--calendar-background);  
}

.calendarMonth {
    /* grid-area: monthArea; */
    padding: 15px;
    margin: 10px;
    width: 170px;
    height: 200px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 14px;
    font-family: Arial;
    background-image: linear-gradient(#fff, #d3d3d3); 
    /* color: var(--calendar-text); */
} 
#myInput {
    background-color: white;
    color:blue;
}
/* .calendar-container div {
    background-color: crimson;
} */

.monthYearHdg {
    background-color: navy;
    color:white;
}

#transactionLog {
    grid-area:logArea;
    background-color:slategrey;
    color:white;
    border: 1px solid black;
    border-radius: 10px;

} 


/* COLUMN 2 (PARENT2 */
.parent2 {
    display: grid;
    grid-area: parent2Area;
    grid-template-columns:1fr;
    grid-template-rows:80px minmax(100px auto) 50px 1fr 1fr 50px;
    /* grid-template-rows:repeat(auto, minmax(20px auto));  */
    grid-area: 0.5em;
    grid-template-areas: "nameArea"
                         "scheduleArea"
                         "memberNoteArea"
                         "day1Area"
                         "day2Area"
                         "monitorNoteArea"; 
    background-color:white;
    padding-left: 20px;
    padding-right: 20px;
}

#memberNameSection {
    grid-area:nameArea;
    width:100%;
    /* text-align: center;
    align-content: center;
    justify-content: center; */
    background-color:navy;
    border:black solid 2px;
    border-radius: 10px;
    padding:0px;
    margin:0px;

}  

#memberNameHdg {
    text-align: center;
    background-color: white;
    color:navy;
    font-size: 18px;
    padding:0px;
    margin:0px;
    border:white solid 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.memberName {
    background-color: white;
    color:navy;
    border: navy solid 1px;
} 

#memberID {
    display:none;
}
#memberOptions {
    text-align: center;
    align-content: center;
    justify-content: center;
    padding:0px;
    background-color:navy;
    color:white;
    margin-top:10px;
}


#memberSchedule-container {
    grid-area: scheduleArea;
    padding:0px;
    margin:0px;
    height:auto;
    background-color:white;
    border:navy solid 1px;
    border-radius: 10px;
}


.memberScheduleHeader {
    display: grid;
    grid-template-columns:2fr 2fr 1fr 2fr 1fr;
    grid-template-rows:repeat(auto, minmax(40px auto));
    font-size: 16px;
    align-items:center;
    justify-content:center; 
    text-align: center;
    background-color: navy;
    border:white solid 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color:white;
    padding:0px;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    margin-bottom: 0px;
}

.memberScheduleDetail {
    display: grid;
    grid-template-columns:2fr 2fr 1fr 2fr 1fr;
    grid-template-rows:repeat(auto, minmax(20px auto));
    background-color:white;
    font-size: 14px;
    align-items:center;
    justify-content:center; 
    text-align: center; 
    padding:0;
    margin-left:0px;
    margin-right: 0px;
    margin-top:0px;
    margin-bottom: 0px;
    border:navy solid 1px;
    border-radius: red solid 1px;
}  

.memberScheduleRow {
    font-size:14px;
}
/* 
#sTitleArea {
    text-align:center;
    background-color: lightgray;
    color:blue;
}

#sLocHArea {
    background-color: navy;
    color: white;
}
#sDateHArea {
    background-color: navy;
    color: white;
}

#sDutyHArea {
    background-color: navy;
    color: white;
}
#sAMPMHArea {
    background-color: navy;
    color: white;
}
#sNoShowHArea {
    background-color: navy;
    color:white;
}
#sLocDArea #sDateDArea #sDutyDArea #sAMPMDArea #sNoShowDArea {
    border:navy 2px;
}
#sLocDArea {
    background-color: white;
    color: navy;
}
#sDateDArea {
    background-color: white;
    color: navy;
}

#sDutyDArea {
    background-color: white;
    color: navy;
}
#sAMPMDArea {
    background-color: white;
    color: navy;
}
#sNoShowDArea {
    background-color: white;
    color:navy
} */

#memberNotes {
    grid-area:memberNoteArea;
    background-color: grey;
    color:white;
    text-align: center;
    padding:20px;
    margin:10px;
    border:black solid 1px;
    border-radius: 10px;
}

#day1-container {
    grid-area:day1Area;
    background-color: beige;
    width: 100%;
    border:1px solid black;
    border-radius: 10px;
    margin:10px;
}
#day2-container {
    grid-area:day2Area;
    width: 100%;
    background-color: bisque;
    border:1px solid black;
    border-radius: 10px;
    margin:10px;
}

.dayHeader {
    display: grid;
    grid-template-columns:1fr 2fr .5fr .5fr;
    grid-template-rows:repeat(auto, minmax(40px auto));
    border: 1px solid black;
    /* border-radius: 10px; */
    font-size: 18px;
    align-items:center;
    justify-content:center; 
    text-align: left;
    color:navy;
    margin:0px;
    padding:0px;
}

/* .dayHeader button {
    width:60px;
} */

#day1Print, #day1Clear, #day2Print, #day2Clear {
    width: 60px;
    margin-right:5px;
}
.dayDetail {
    display: grid;
    grid-template-columns:.5fr 1fr 2fr 1fr .1fr;
    grid-template-rows:repeat(auto, minmax(20px auto));
    background-color:linen;
    color:blue;
    font-size: 14px;
    align-items:center;
    justify-content:center;
    height: 30px; 
    text-align: left;
    padding:0px;
    margin-top:10px;
    margin-bottom:0px;
    margin-left:60px;
    margin-right:0px;
}

/* .delbtn {
    width:15px;
    
} */


#monitorNotes {
    grid-area:monitorNoteArea;
    background-color: gray;
    color:white;
    text-align: center;
    border:black solid 1px;
    border-radius: 10px;
    margin:10px;
}

/* .bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
} */

.modal-header {
    margin-top: 0px;
    padding-top: 0px;
}

.modal-header button {
    float: right;
}

.modal-title {
    width:100%;
}

.modal-content {
    width:500px;
    height: 300px;
    background-color:lightgray;
    border-radius: 4px;
    text-align: center;
    margin:0px;
    padding: 0px;
    /* background-color: cadetblue; */
}

.modal-content form {
    margin-left: 100px;
}
.modal-content select {
    /* width: 75%; */
    display: inline-block;
    /* margin: 15px auto; */
    position: relative;
    cursor: pointer;
    /* background-color: aqua; */
}

.modal-footer {
    margin:10px;
    padding:0px;
}
/* .close {
    position: absolute;
    top:0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg); 
}
*/

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 42px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
/* $icon_size: 1em;

.gear {
    display: inline-block;
    position: relative;
    margin: $icon_size/5;
    width: $icon_size;
    height: $icon_size;
    background: white;
    border-radius: 50%;
    border: $icon_size/3.5 solid gray;
    box-swizing: border-box;

} */

/* .btn-primary {
    background-color: green;
    color:white;
} */
/* 
@media only screen and (max-width: 768px) {
.parent {
    display: grid;
    grid-template-columns:100%;
    grid-template-rows:repeat(auto,10); 
    gap:.25em;
    grid-template-areas: "hdgArea"
                         "filterArea"
                         "calArea"
                         "nameArea"
                         "scheduleArea"
                         "memberNoteArea"
                         "day1Area"
                         "day2Area"
                         "monitorNoteArea"
        } 

} 

#calendar-container{
    grid-area:calArea;
    display: grid;
    /* padding: 10px;
    width: 210px;
    height: 240px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 10px;
    font-size: 16px;
    font-family: Arial;
    background-image: linear-gradient(#fff, #d3d3d3);
    
    background-color:beige;
    color:blue; 
}

/* #calendar-container>div{
    padding: 0;
    margin-bottom: 10px;
}

#calendar-month-year{
    margin: 5px;
}

#calendar-dates>table>tr>td{
    padding: 5px;
} 

.calendarMonth {
    grid-column: 1fr 1fr 1fr;
    grid-row: auto;
    padding: 10px;
    width: 120px;
    height: 120px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 12px;
    font-family: Arial;
    background-image: linear-gradient(#fff, #d3d3d3); 
    color:red;
} 

.calendar-dates>table>tr>td{
    padding:5px;
} */

.shift {
    /* margin-left: 20px; */
    padding-left: 0px;
    padding-bottom: 0px;
}

.nameID {
    color:green;
    border:black 1px;
}
#findMember {
    background-color: lime;
    width: 200px;
} 

#selectpicker {
    width:200px;
    height:40px;

}
/* .bootstrap-select > .dropdown-toggle.bs-placeholder:active {
    background: #FFF;
    color: #000;
    border-color: #999;
  } */


