:root {
    --main-bg-color: navy;
    --main-txt-color: white;  
    --main-padding: 10px;  
    --calendar-background: lightgray;
    --calendar-text:blue;
  }


/* Laptop - 1280 x 800 */
@media (min-width: 1280px) {

    .parent {
        display: grid;
        grid-template-columns:1.10fr 1fr;
        grid-template-areas: "hdgArea      hdgArea"
                            "parent1Area  parent2Area";
        background-color:lightgray;                   
    }
    .hdg {
        grid-area: hdgArea;
        display:grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas:    'titleArea  versionArea'; 
        height:40px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 10px;
        background-color:navy;
        color: var(--main-txt-color);
        border-bottom:white 3px;
    }
    .title {
        grid-area:titleArea;
        margin-top:3px;
        text-align:left;
        padding-left:2em;
    }
    .version {
        grid-area:versionArea;
        text-align:right;
        padding-right:2em;
        padding-top:.25em;
    }
    .parent1 {
        display: grid;
        grid-area: parent1Area;
        grid-template-columns:1fr 1fr 1fr;
        gap:.5em;
        grid-template-areas: "filterArea filterArea filterArea filterArea"
                            "calArea    calArea    calArea    calArea"
                            "calArea    calArea    calArea    calArea"
                            "calArea    calArea    calArea    calArea"
                            "legendArea legendArea legendArea legendArea";
        padding-right: 10px;
        padding-left: 10px;
        border-left: white 2px;
    }


    .filterSection {
        grid-area:filterArea;
        height:auto;
        padding-top:0px;
        padding-bottom: 0px;
        margin-left:10px;
        justify-content:center;
        align-items:center; 
        align-content:center;
        text-align: center;
        width:95%;
        background-color: var(--main-bg-color);
        color: var(--main-txt-color);
        border:1px solid navy;
        border-radius: 10px;
    }

    #settingsIcon {
        margin-top:3px;
        margin-left: 30px;
        height: 30px;
        font-size:18px;
    }
    

    #calendar-container{
        grid-area:calArea;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        background-color: var(--calendar-background);  
    }

    .calendarMonth {
        padding: 5px;
        margin: 5px;
        width: 160px;
        height: 200px;
        text-align: center;
        border: 1px solid black;
        border-radius: 10px;
        font-size: 14px;
        font-family: Arial;
        background-image: linear-gradient(#fff, #d3d3d3); 
    } 
    #myInput {
        background-color: white;
        color:blue;
    }

    .monthYearHdg {
        background-color: navy;
        color:white;
    }

    #legend {
        margin:0;
        grid-area:legendArea;
    }

    #needSM {
        background-color: blue;
    }
    #needTC {
        background-color:#00FF00;
    }
    #needBoth {
        background-color: red;
    }
    #filled {
        background-color:white;
    }
    #closed {
        background-color:#2E86C1
    }


    /* COLUMN 2 (PARENT2 */
    .parent2 {
        display: grid;
        grid-area: parent2Area;
        grid-template-columns:1fr;
        grid-template-rows:50px auto fit-content(200px) auto minmax(200px, auto) auto auto 1fr;
        grid-area: 0.5em;
        grid-template-areas: "nameArea"
                            "memberOptionsArea"
                            "scheduleArea"
                            "swapArea"
                            "day1Area"
                            "day2Area";
                            /* "memberNoteArea"
                            "monitorNoteArea";  */
        background-color:lightgray;
        padding-left: 20px;
        padding-right: 20px;
    }

    #memberNameSection {
        grid-area:nameArea;
        height:auto;
        width:100%;
        background-color:navy;
        color:white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-bottom:5px;
        margin:0 auto;
        margin-bottom:1px;
    }  

    .memberName {
        margin-top:.2em;
        padding-top:0em;
        border: 1px solid white;
        text-align:center;
        font-size: 1.5rem;
        background-color:navy;
        color:white;
    }
    #clearMemberBtn {
        margin-left:5px;
        width: 90px;
        height:25px;
        font-size:1rem;
        display:none;
        margin-top:.75em;
        padding-top:0;
    }
    .memberBtn {
        margin-left:5px;
        width: 100px;
        height:25px;
        font-size:.7rem;
        padding-top:0.3em;
    }
    #needsToolCribDuty {
        margin-left:20px;
        height:25px;
        font-size:.8rem;
        padding-top:.1em;
        background-color: navy;
        color:yellow;
        border:1px solid white;
        width:155px;
        text-align:center;
    }
    .bootstrap-select {
        /* text-size-adjust:100 px; */
        margin-left:40px;
        height:20px;
        color:blue;
        background-color: red;
    }

    #memberList {
        text-align:left;
    }
    /* #memberName {
        background-color: navy;
        color:white;
        font-size: 18px;
        padding:0px;
        margin-top:10px;
    } */

    #memberID {
        display:none;
    }
    #memberOptions {
        grid-area: memberOptionsArea;
        text-align: left;
        height: 30px;
        width:100%;
        align-content: left;
        justify-content: left;
        padding-bottom:0px;
        background-color:navy;
        color:white;
        margin:0 auto;
    } 

    #memberSchedule-container {
        grid-area: scheduleArea;
        padding:0px;
        margin:0px;
        background-color:white;
        border:navy solid 1px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-bottom: 0px;
        margin-bottom:5px;
    }


    .memberScheduleHeader {
        display: grid;
        grid-template-columns:2fr 2fr 1fr 2fr 1fr;
        font-size: 16px;
        align-items:center;
        justify-content:center; 
        text-align: center;
        background-color: navy;
        border:white solid 1px;
        color:white;
        padding:0px;
        margin-left:0px;
        margin-right:0px;
        margin-top:0px;
        margin-bottom: 0px;
    }
    .memberScheduleDetail {
        overflow-x:auto;
        overflow-y:auto;
        height:145px;
    }
    .memberScheduleRow {
        display: grid;
        grid-template-columns:2fr 2fr 1fr 2fr 1fr;
        background-color:white;
        font-size: 14px;
        align-items:center;
        justify-content:center; 
        text-align: center; 
        padding:0;
        margin-left:0px;
        margin-right: 0px;
        margin-top:0px;
        margin-bottom: 0px;
        border:navy solid 1px;
    }  

    /* #memberNotes {
        display:none;
        grid-area:memberNoteArea;
        height:80px;
        width:100%;
        background-color: grey;
        color:white;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding:10px;
        margin:0px;
        border:black solid 1px;
        border-radius: 5px;
    } */

    #swapBtns {
        grid-area:swapArea;
        height:40px;
        background-color: navy;
        color:white;
        padding:10px;
        margin:0px;
        border:black solid 1px;
        border-radius: 5px;
    }
    .box {
        display:flex;
        align-items: center;
        justify-content:center;
    }

    #day1-container {
        grid-area:day1Area;
        background-color: beige;
        width: 100%;
        border:1px solid black;
        border-radius: 10px;
        margin:0px;
        padding:10px;
    }
    #day2-container {
        grid-area:day2Area;
        width: 100%;
        background-color: bisque;
        border:1px solid black;
        border-radius: 10px;
        margin:0px;
        padding:10px;
    }

    .dayHeader {
        display: grid;
        grid-template-columns:1fr 2fr .5fr .5fr .5fr;
        border: 1px solid black;
        font-size: 18px;
        align-items:center;
        justify-content:center; 
        text-align: left;
        color:navy;
        margin:0px;
        padding:0px;
    }

    #day1Notes, #day1Print, #day1Clear,#day2Notes, #day2Print, #day2Clear {
        width: 60px;
        margin-right:5px;
    }
    .dayDetail {
        display: grid;
        grid-template-columns:.5fr 1fr 2fr 1fr .1fr;
        background-color:linen;
        color:blue;
        font-size: 14px;
        align-items:center;
        justify-content:center;
        height: 20px; 
        text-align: left;
        padding:0px;
        margin-top:10px;
        margin-bottom:0px;
        margin-left:60px;
        margin-right:0px;
    }
    .dayDetail input {
        height:20px;
    }
    .delBtn {
        font-size:.75rem;
        height:25px;
    }
    #swapModalBtn {
        border: 4px solid blue;
    }

    /* CSS FOR MODAL ALERT */
    /* #myAlertModal {
        background-color: lightgray;
        color:navy;
    } */
    #myAlertModal .modal-content {
        background-color: gray;
        color:white;
        width:60%;
    }
    #myAlertModal .modal-header {
        background-color: navy;
        color:white;
        text-align: center;
    }

    #myAlertModal .modal-body {
        background-color: beige;
        text-align: left;
        margin:0;
    }
    #myAlertModal pre {
        color:maroon;
    }
    #myAlertModal .modal-footer {
        background-color: gray;
        color:white;
        text-align: right;
        border:0em;
    }
    /* MODAL FORM FOR MONITOR SCHEDULING WEEK NOTES */
    #notesModal {
        top:20px;
    }
    .bg-modal-notes {
        width: 100%;
        height: 70%;
        background-color: rgba(0,0,0,0.7);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    } 
    .modal-content-notes {
        width:1000px;
        height: 500px;
        overflow-y: auto;
        background-color:white;
        border-radius: 4px;
        text-align: center;
        margin:0px;
        padding: 0px;
        position: relative;
    }
    .closeModalNotes {
        position: absolute;
        top: 20px;
        right: 30px;
        height:30px;
        width:30px;
        font-size: 30px;
        line-height: 30px;
        transform: rotate(45deg);
        cursor: pointer;
        background-color: lightgray;
        color:navy;
        border-radius:50%; 
        text-align: center;
    }
    .modal-header-notes {
        width:100%;
        border: 1px solid blue;
        background-color: navy;
        color:white;
        position:sticky;
    }

    #modalBodyNotes {
        display:grid;
        grid-template-columns: 1fr 5fr 1fr;
        
    }
    #modalBodyNotes span {
        border-top:1px solid black;
    }

    /* MODAL - FOR ALL BOOTSTRAP MODAL FORMS */
    .modal-header button {
        float: right;
    }

    .modal-title {
        width:100%;
    }


    .modal-content form {
        margin-left: 100px;
    }
    .modal-content select {
        /* width: 75%; */
        display: inline-block;
        /* margin: 15px auto; */
        position: relative;
        cursor: pointer;
        /* background-color: aqua; */
    }

    .modal-footer {
        margin:10px;
        padding:0px;
    }

    /* MODAL ALERT  */
    #modalAlert {
        display:block;
        width:50%;
    }
    .modalAlertContent {
        background-color: beige;
        color:navy;
        height:max-content;
        font-size:.75rem;
    }
    .modalAlertHeader {
        height:75px;
        background-color:navy;
        color:white;
    }
    .modalAlertHeader button {
        float:right;
    }
    /* .modalAlertTitle {
        background-color: navy;
        color:white;
        padding:0;
        margin:0;
    } */
    .modalAlertBody {
        width:100%;
        background-color:white;
        color:maroon;
    }

    
    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 42px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color:white;
        text-decoration: none;
        cursor: pointer;
    }


    /* CSS FOR MEMBER NAME SECTION */
    .nameID {
        color:green;
        border:black 1px;
    }
    .nameID :hover{
        background-color:yellow;
    }
    

    #schedulePeriod {
        text-align: center;
    }
    
    .periodBtn {
      border: 1px solid black;
      height:25px;
      width:40px;
      outline: none;
      padding: 5px 5px;
      background-color: white;
      cursor: pointer;
      font-size: 10px;
      margin-bottom:4px; 
    }
    .btn:hover {
      background-color:lightgrey;
    }
    #thisYearBtn.active {
        border:2px solid red;
    }
    #lastYearBtn.active {
        border:2px solid green;
    }
    /* CSS FOR ACTION/REASON MODAL FORM */
    #reasonModalID .modal-header {
        background-color: green;
        color:white;
    }
    #actionID #reasonID {
        width: 600px;
        height: minmax(20px auto);
        border: 1px solid navy;
        background-color: white;

    }
    #actionID {
        color:green;
    }

    #reasonID {
        color: blue;
    }

    /* CSS FOR MEMBER DATA MODAL */
    #memberModalID {
        background-color: lightgray;
        color:navy;
    }
    #memberModalID .modal-header {
        background-color: green;
        color:white;
        text-align: center;
    }

    #memberModalID checkbox {
        border: 2px solid black;
        background-color: navy;
        color:white;
    }
    .monthsInVillages {
        border:1px solid navy;
    }
    .monthNames {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        margin-left:16px; 
    }
    .monthNames label {
        text-align:center;
    }
    .monthValues {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        margin-left:16px;
        padding-bottom:.5em;
    }
    .monthValues input {
        text-align:center;
    }
    .datePick {
        width:150px;
        height: 35px;
    }
}
@media (min-width: 1440px) {
    
}
.selected {
    background-color:yellow;
}