{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/checkmark.css') }}"> -->
{% endblock %}
 {% block title %}MONITOR SCHEDULING{% endblock %}

{% block content %}
    <div class="parent">
        <div class="hdg">
            <div class="title">
                <h2>MONITOR SCHEDULING</h2>
            </div>
            <div class="version">
                <h4>ver. May 31, 2021</h4> 
                <input id='shopID' type="text" style=display:none value={{shopID}}>
            </div> 
            
        </div>
        <div class="parent1"> 
            <div class="filterSection">
                <form class = "filterItems "></form>
                    <label> Year - </label>
                    <select id="yearToDisplay" name="yearList" style="height: 25px;font-size: 1em;">
                        <option id='lastYear' value=""></option>
                        <option id='thisYear' value="" selected></option>
                        <option id='nextYear' value=""></option>
                    </select>
                    <label>     Location - </label>
                    <select id="shopToDisplay" name="shopList" style="height: 25px;font-size: 1em;">
                        <option id='shop1' value="RA">Rolling Acres</option>
                        <option id='shop2' value="BW">Brownwood</option>
                        <option id='bothShops' value="BOTH">Both Shops</option>
                    </select>
                    
                    <input id="refreshCalendarBtn" class="btn btn-primary btn-sm" type="submit" value="Refresh Calendar">  
                    
                    <button id="settingsIcon"><i class="fas fa-bars" data-toggle='modal' data-target='#settingsModal'></i></button>
                    <button id="settingsBtn" style="display:none" type='button' class = 'btn btn-primary' data-toggle = 'modal' data-target = '#settingsModal'>
                        SETTINGS  
                    </button>
                </form>
            </div>
            
            <!-- Calendar Section DIY calendar -->
            <div id="calendar-container"></div>

            <!-- LEGEND -->
            <div id='legend'>
                <input id='needSM' type="text" style='width:40px; border:1px solid black'>
                <label for='needSM'>Need shop mntrs</label>
                <input id='needTC' type="text" style='margin-left:15px;width:40px; border:1px solid black'>
                <label for='needTC'>Need tool crib</label>
                <input id='needBoth' type="text" style='margin-left:20px;width:40px; border:1px solid black'>
                <label for='needBoth'>Need both</label>
                <input id='filled' type="text" style='margin-left: 30px;width:40px; border:1px solid black'>
                <label for='filled'>Filled</label>
                <input id='closed' type="text" style='margin-left:60px;width:40px; border:1px solid black'>
                <label for='closed'>Closed</label>
            </div>
            
        </div>  <!-- END OF PARENT1 WRAPPER -->


        <!-- BEGIN PARENT2 (COLUMN 2) WRAPPER -->
        <div class="parent2">

            <!-- MEMBER NAME SECTION -->
            <div id="memberNameSection" class=row>
                <div id="memberList" class=col-sm-5>
                    <select id="selectpicker" class='selectpicker' style='margin-bottom:0px' 
                        title='Find a member ...' data-live-search=true data-live-search-style="contains" data-width='auto'>
                            {% for nme in nameList %}
                                <option  class="optName" value='{{nme}}'</option>{{nme}}</option>
                            {% endfor %}
                    </select>  
                </div>
                <div class='col-sm-5 memberName'>
                    <span id="memberName">{{displayName}}</span>
                </div>
                <div class="col-sm-1">
                    <button id='clearMemberBtn' type="button"   class="btn-primary btn btn-sm" onclick="clearMemberRtn()">Clear</button>
                </div>
            </div>
            <div id="memberOptions" class=row>
                <div style=margin-left:10px>
                    <label style="margin-left:0px;font-size:small; color:white"for="lastMonitorTraining">Last Monitor Training (RA):</label>
                    <input id="lastMonitorTrainingRA" 
                    type="text" 
                    readonly 
                    style="height:20px;width:75px;font-size: small;color:green;border:2px solid green;" 
                    value="">
                </div>
                <div style=margin-left:10px>
                    <label style="margin-left:0px;font-size:small; color:white"for="lastMonitorTraining">(BW):</label>
                    <input id="lastMonitorTrainingBW" 
                    type="text" 
                    readonly 
                    style="height:20px;width:75px;font-size: small;color:green;border:2px solid green" 
                    value="">
                </div>
                <div id="memberBtnsID">
                    <button id='memberDataBtn'  disabled class="btn-primary btn btn-sm memberBtn" onclick="openMemberModal()">Member Data</button>
                    <button id="printMemberScheduleBtn"  disabled class="btn btn-primary btn-sm memberBtn" >Print Schedule</button>   
                    <button id="emailMemberScheduleBtn" disabled class="btn btn-primary btn-sm memberBtn">Email Schedule</button>
                </div>
                <div>
                    <input id='needsToolCribDuty' type='text' readonly style=display:none value='No restrictions'>
                </div>
                <!-- <div id='schedulePeriod' >
                    <button 
                        id='thisYearBtn' 
                        type='button' 
                        onclick="changeScheduleYear('{{thisYear}}')" 
                        style='margin-left:30px;color:red' 
                        class="btn periodBtn active">{{thisYear}}</button>
                    <button 
                        id='lastYearBtn' 
                        type='button' 
                        onclick="changeScheduleYear('{{lastYear}}')"
                        style='color:green' 
                        class="btn periodBtn ">{{lastYear}}</button>
                </div> -->
                <div class="scheduleYear" style='margin-left:30px;padding-top:.2em'>
                    <select id=scheduleYearID disabled>
                        <option id=thisYearsScheduleID value={{thisYear}}>{{thisYear}}</option>
                        <option id=lastYearsScheduleID value={{lastYear}}>{{lastYear}}</option>
                    </select>
                </div>
                <!-- <div id='test' class='btn-group' data-toggle='buttons-radio'>
                    <button class="btn active">2021</button>
                    <button class="btn">2020</button>
                </div> -->
                <span id = "memberID" style = "color:red;display:block;">{{memberID}}</span>  
            </div>

            <!-- MEMBER SCHEDULE -->
            <div id="memberSchedule-container">
                <div id='schedHdg1' class='memberScheduleHeader'>
                    <span>Location</span>
                    <span>Date</span>
                    <span>AM/PM</span>
                    <span>Duty</span>
                    <span>No Show</span>
                </div>
                <div id='memberScheduleDetailID' class='memberScheduleDetail'></div>    
            </div>

            <!-- SWAP BUTTONS -->
            <div id="swapBtns" class="box">
                <button id='initiateSwap' style="width:115px;" class="btn btn-secondary btn-sm" onclick='initiateSwap()'>Initiate Swap</button>
                <button id='cancelSwap' style="margin-left:30px;width:115px;" disabled class="btn btn-secondary btn-sm" onclick='cancelSwap()'>Cancel Swap</button>
                <button id='makeSwap' style="margin-left:30px; width:115px;" disabled class="btn btn-secondary btn-sm" onclick='makeSwapOrMove()'>Make Swap</button>
                <button id='clearAll' style="margin-left:30px; width:135px;" disabled class="btn btn-secondary btn-sm" onclick='clearAll()'>Clear both days</button>
                <input type="hidden" id="canViewNotes" value={{canViewNotes}}>
            </div>

            <!-- First DAY SELECTED -->
            <div id="day1-container">
                <div class='dayHeader'>
                    <span id='day1Date'></span>
                    <span id='day1Location' style='margin-left:50px'></span>
                    <button id='day1Notes' class='btn btn-secondary btn-sm' onclick='openNotesRtn(1)'>NOTES</button>
                    <button id='day1Print' class='btn btn-secondary btn-sm'>PRINT</button>
                    <button id='day1Clear' class='btn btn-secondary btn-sm' onclick ="clearDay1()">CLEAR</button>
                    <input id='day1yyyymmdd' type='hidden' value = ''>
                    <input id='day1ShopNumber' type='hidden' value = ''>
                    <input id='day1ShopInitials' type= 'hidden' value = ''>
                </div>
                <div id="day1Detail"></div>
            </div> <!-- END OF DAY1--> 

            <!-- SECOND DAY SELECTED -->
            <div id="day2-container">
                <div class='dayHeader'>
                    <span id='day2Date'SETTINGS></span>
                    <span id='day2Location' style='margin-left:50px'></span>
                    <button id='day2Notes' class='btn btn-secondary btn-sm' onclick='openNotesRtn(2)'>NOTES</button>
                    <button id='day2Print' class='btn btn-secondary btn-sm'>PRINT</button>
                    <button id='day2Clear' class='btn btn-secondary btn-sm' onclick='clearDay2()'>CLEAR</button>
                    <input id='day2yyyymmdd' type='hidden' value = ''>
                    <input id='day2ShopNumber' type='hidden' value = ''>
                    <input id='day2ShopInitials' type= 'hidden' value = ''>
                </div>
                <div id='day2Detail'></div>
            </div>  <!-- END OF DAY2 -->
            <!-- MONITOR NOTES -->
            <div id="monitorNotes">
                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reasonModalID">TEST</button> -->
                
            </div>
        </div> <!-- END OF PARENT2 WRAPPER -->
    </div>  <!-- END OF PARENT WRAPPER -->
    

    <!-- MODAL FORM FOR APPLICATION START UP SETTINGS  (bootstrap?)-->
    <div id="settingsModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class='modal-title'>  
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <br>
                        <h4>The Villages Woodworkers Club</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <h5 style="text-decoration: underline;text-align:center">START UP SETTINGS</h5>
                    <form action="">
                        <p style='text-align: left'>
                            <label>Year to display -</label>
                            <input id='yearDefault' type="text" style="width:50px; color:blue;font-weight: bold; " placeholder = '20xx'>
                        </p>
                        
                        <p style='text-align: left'>
                            <label>Location - </label> 
                            <select id="shopDefault" name="shopDefault" style="height: 25px;font-size: 1em;">
                                <option id='selectAshop' value="">Select a location ...</option>
                                <option id='shop1' value="RA">Rolling Acres</option>
                                <option id='shop2' value="BW">Brownwood</option>
                            </select>
                        </p>
                    </form>
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
                </div> 
            </div>
        </div>
    </div>

    <!-- MODAL FORM FOR DISPLAYING MONITOR NOTES FOR A SPECIFIC WEEK -->
    <div id="notesModal" class="bg-modal-notes">
        <div class="modal-content-notes ">
            <div class="closeModalNotes">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-header-notes">
                <button type="button" class="close" onclick=closeNotesRtn() aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-title-notes">
                    <label for="">COORDINATOR NOTES FOR WEEK OF </label>
                    <span id="noteWeek"></span>
                    <label for=""> AT </label>
                    <span id="noteShopName"></span>
                </div>
                <div>
                    <span id="noteCoordinator"></span>
                </div>
            </div>
            <div id="modalBodyNotes">
            
            </div>
            <div class="modal-footer-notes">
                <button type="button" class="btn btn-primary" onclick=closeNotesRtn() data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>

    <!-- MODAL FORM FOR INPUT OF TRANSACTION REASON (monitorWeekNote) -->
    <div id="reasonModalID" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Scheduling Note</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id='shopNumber' type="hidden">
                    <input id='shopID' type="hidden">
                    <input id=reasonRecordID1 type="hidden">
                    <input id=reasonRecordID2 type="hidden">
                    <input type="hidden" id="asgmnt1ID">
                    <input type="hidden" id="asgmnt2ID">
                    <span>Action:</span>
                    <textarea id="actionDescID" readonly rows="2" cols="75" ></textarea>
                    <br>
                    <span>Reason:</span> 
                    <textarea id="reasonDescID" rows="2" cols="75" placeholder='State the reason for this transaction ...' required></textarea>
                </div>
                <div class="modal-footer">
                    <button id='saveReasonID' type="button" class="btn btn-primary">Save changes</button>
                </div>
                
            </div>
        </div>
    </div>

    <!-- MODAL FORM FOR DISPLAYING MEMBER DATA (BOOTSTRAP) -->
    <div id="memberModalID" class="modal fade" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="memberNameID" class="modal-title"></h3>
                    <button type="button" class="close" onclick='memberModalClose()' aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-5">
                        </div>
                        <div class="col-3">
                            Certified
                        </div>
                        <div class="col-3">
                            Last Monitor Training
                        </div>
                    </div>
                    <div class = row>
                        <div class='col-2'></div>
                        <div class="col-3">
                            <label for="certifiedRA" style="margin-left:0px">Rolling Acres</label>
                        </div>
                        <div class="col-3">
                            <input id="certifiedRA" type="checkbox" style="margin-left:20px"  onclick="return false;" name="certifiedRA" value="">
                        </div>
                        <div class="col-3">
                            <input type="text" id="lastTrainingDateRA" readonly style='text-align:center;margin-left:10px;width:130px;color:green;border:1px solid green' value=''>
                        </div>
                    </div> 
                    
                    <div class = row>
                        <div class="col-2"></div>
                        <div class="col-3">
                            <label for="certifiedBW" style="margin-left:0px">Brownwood</label>
                        </div>
                        <div class="col-3">
                            <input id="certifiedBW" type="checkbox" style="margin-left:20px"  onclick="return false;" name="certifiedRA" value="">
                        </div>
                        <div class="col-3">
                            <input type="text" id="lastTrainingDateBW" readonly style='text-align:center;margin-left:10px;width:130px;color:green;border:1px solid green;' value=''>
                        </div>
                    </div> 
                    <br> 
                    <hr>
<!--                     
                        <label for="certifiedBW" style="margin-left:0px">Brownwood:  Certified </label>
                        <input type="checkbox" style="margin-left:15px"id="certifiedBW" onclick="return false;" name="certifiedBW" value=""><br>
                        <label for="lastTrainingDateBW">Last monitor training:</label>
                        <input type="text" id="lastTrainingDateBW" readonly style=color:green value=''>
                    </div> -->
                    
                    <div>
                        <label for="needsToolCribID" >Requires Tool Crib Duty: </label>
                        <input 
                            type="checkbox"     
                            style="margin-left:15px;font-weight:700"
                            id="needsToolCribID" 
                            name="needsToolCrib"
                            
                            >
                            <br>
                    </div>
                    <br><br>
                    <div class="memberNotes">
                        <label for="memberNotesID">Monitor Duty Notes:</label>
                        <br>
                        <textarea id="memberNotesID" rows="2" cols="75" ></textarea>
                        <br><br>
                    </div>
                    <div class="monitorDutyNotes">
                        <label for="monitorDutyNotesID">Member Notes:</label>
                        <br>
                        <textarea id="monitorDutyNotesID" rows="2" cols="75" ></textarea>
                        <br><br>
                    </div>
                    <label for="villageMonthsID">Months in The Villages:</label>
                        <br>
                    <div class="monthsInVillages">
                        <div class="monthNames">   
                            <label>Jan</label>
                            <label>Feb</label>
                            <label>Mar</label>
                            <label>Apr</label>
                            <label>May</label>
                            <label>Jun</label>
                            <label>Jul</label>
                            <label>Aug</label>
                            <label>Sep</label>
                            <label>Oct</label>
                            <label>Nov</label>
                            <label>Dec</label>
                        </div>
                        <div class='monthValues'>
                            <input type="checkbox" id="janID"> 
                            <input type="checkbox" id="febID">
                            <input type="checkbox" id="marID">
                            <input type="checkbox" id="aprID">                        
                            <input type="checkbox" id="mayID">
                            <input type="checkbox" id="junID">                       
                            <input type="checkbox" id="julID">                      
                            <input type="checkbox" id="augID">
                            <input type="checkbox" id="sepID">                        
                            <input type="checkbox" id="octID">
                            <input type="checkbox" id="novID">
                            <input type="checkbox" id="decID">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="closeMemberModalID" type='button' class='btn btn-secondary'>Close</button>
                    <button id='saveMemberModalID' type="button" class="btn btn-primary">Save changes</button>
                </div>
                
            </div>
        </div>
    </div>

    <!-- Modal for error messages. -->
    <div class="modal fade" id="myAlertModal" tabindex="-1" role="dialog">
        <div class="modal-dialog  modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="modalAlertTitle"></h3>
                    <button type="button" class="close" onclick=closeAlertModal()>
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id=modalAlertBody>
                    <textarea name="" id="modalAlertMsg" cols="42" rows="5"></textarea>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick=closeAlertModal() data-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="{{ url_for('static', filename='js/index.js') }}"> </script>
{% endblock %}
