<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>January 2020</div> 
    <table>
        <thead id="tableHead">January 2020 </thead>
        <th>SUN  MON  TUE  WED  THU  FRI  SAT</th>
        <td>       1    2    3    4    5    6</td>
        <td>       7    8    9   10   11   12</td>
        <td>       1    2    3    4    5    6</td>
        <td>       1    2    3    4    5    6</td>
    </table> 
</body>
</html>